
nav {
    position: fixed;
    top: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;

    height: 9vh;
    width: 100vw;
    padding: 0 15px;
    color: white;
    background: linear-gradient(to right, rgb(6, 35, 116), rgb(19, 68, 158));

}

.app-name {
    font-size: 22px;
    text-align: left;
    width: 25%;
    max-width: 160px;
}

nav h4 {
    font-size: 100%;
    width: 23%;
    max-width: 150px;
    text-align: center;
}

.btn-logActions {
    height: 35px;
    width: 23%;
    max-width: 100px;
    border-radius: 10px;
    font-size: 15px;
    border: solid 2px transparent;
    transition: all 0.2s;
    color: white;
    background-color: rgb(67, 167, 197);
}


.btn-logActions:hover {
    background-color: rgb(62, 147, 173);
    border: solid 2px rgb(71, 164, 192);
}

nav img {
    width: 36px;
    border-radius: 10px;
    padding: 3px;
    transition: all 0.2s;
}

nav img:hover {
    background-color: dodgerblue;
}
