.task-card {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 8px;
    
    cursor: pointer;
    background-color: white;
    margin-top: 2%;
    width: 95%;
    height: auto;
    padding-bottom: 10px;
    padding-left: 20px;
    padding-right: 10px;
    border-radius: 6px;
    box-shadow: 3px 3px 10px #888888;
    transition: all 0.5s;
  }

  .task-content {
    display: flex;
    flex-direction: column;
    width: 80%;
  }
  
  .task-card p {
    font-weight: bold;
    word-wrap: break-word;
    padding-top: 10px;
    max-width: 290px;
    overflow: hidden;
    text-overflow: ellipsis;
    color: black;
    border: none;
  }

  .task-card small {
    max-width: 250px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  .task-card img {
    height: 18px;
  }