
.pop-up {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.3);
    
    display: flex;
    justify-content: center;
    align-items: center;
}
  
.popUp-content {
    position: relative;
    background-color: #fff; 
    height: 42vh;
    width: 30vw;
    border-radius: 10px;
}

.popUp-content h2 {
    margin-top: 10px;
    text-align: center;
}

.btn-close {
    height: 30px;
    width: 30px;
    border-radius: 5px;
    font-size: 15px;
    
    float: right;
    margin-top: 10px;
    margin-right: 10px;
    border: solid 2px transparent;
    transition: all 0.2s;
    color: white;
    background-color: rgb(207, 30, 30);
}

.btn-close:hover {
    background-color: rgb(167, 21, 21);
    border: solid 2px rgb(184, 25, 25);
}
  
.taskForm {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    margin-top: 25px;
}

.taskForm input {
    width: 400px;  
    border: solid 2px #888888;
}

.taskForm input:hover {
    background-color: white;
    border: solid 2px #888888;  
}

.taskForm textarea {
    resize: none;
    outline: none;
    
    width: 400px;
    height: 100px;
    border: solid 2px #888888;
    border-radius: 10px;
    padding: 10px;
}

.taskForm select {
    outline: none;
    cursor: pointer;
    
    font-weight: 600;
    width: 400px;
    height: 40px;
    padding-left: 10px;
    border: solid 2px #888888;
    border-radius: 6px;
}

.container-btnCreate {
    text-align: center;
}

.btn-create {
    height: 35px;
    width: 180px;
    border-radius: 5px;
    font-size: 17px;
    margin-top: 18px;
    border: solid 2px transparent;
    transition: all 0.2s;
    background-color: rgb(67, 167, 197);
}

.btn-create:hover {
    background-color: rgb(62, 147, 173);
    border: solid 2px rgb(71, 164, 192);
}
