
.popUp-viewTask {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.3);
    
    display: flex;
    justify-content: center;
    align-items: center;
}
  
.popUpContent-viewTask {    
    position: relative;
    background-color: #fff; 
    /* height: 33vh; */
    height: auto;
    padding-bottom: 10px;
    width: 90%;
    max-width: 400px;
    border-radius: 10px;
}

.btnClose-viewTask {
    height: 30px;
    width: 30px;
    border-radius: 5px;
    padding: 3px 3px;
    
    float: right;
    margin-top: 10px;
    margin-right: 10px;
    border: solid 2px transparent;
    transition: all 0.2s;
    color: white;
    background-color: rgb(207, 30, 30);
}

.btnClose-viewTask:hover {
    background-color: rgb(167, 21, 21);
    border: solid 2px rgb(184, 25, 25);
    padding: 0;
}

/* .taskCard-menu {
    height: 30px;
    float: left;
    margin-top: 10px;
    margin-left: 10px;
    border-radius: 5px;
    padding: 5px 5px;
    cursor: pointer;
}

.taskCard-menu:hover {
    background-color: rgba(226, 223, 223, 0.533)
} */

.deleteTask-icon {
    height: 32px;
    float: left;
    margin-top: 10px;
    margin-left: 10px;
    cursor: pointer;
    transition: all 0.2s;
    padding: 5px 5px;
    border-radius: 5px;
}

.deleteTask-icon:hover {
    background-color: rgb(230, 17, 17);
    padding: 2px 2px;
}
  
.viewTaskForm-fields {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

.taskName-textarea {
    resize: none;
    overflow-y: hidden;
    margin-top: 15px;
    margin-bottom: 20px;
    height: auto;
    font-size: 18px;
    font-weight: bold;
    width: 65%;
    border: solid 2px rgb(235, 232, 232);
}

.taskForm-viewTask input:hover {
    background-color: white;
}

.taskForm-viewTask textarea {
    resize: none;
    outline: none;
    height: 100px;
    
    width: 65%;
    border: solid 2px rgb(235, 232, 232);
    border-radius: 10px;
    padding: 10px;
}

.taskForm-viewTask select {
    outline: none;
    cursor: pointer;
    
    font-weight: 600;
    width: 65%;
    height: 40px;
    padding-left: 10px;
    border: solid 2px rgb(235, 232, 232);
    border-radius: 6px;
}

.editTask-img {
    float: right;
    cursor: pointer;
    
    height: 35px;
    border-radius: 10px;
    padding: 5px;
    border: 2px transparent;
    transition: all 0.2s;
    
    background-color: rgb(67, 167, 197);
}

.editTask-img:hover {
    background-color: rgb(62, 147, 173);
    border: solid 2px rgb(71, 164, 192);
    padding: 0;
}

.taskForm-viewTask button {
    border: 0px transparent;
    float: right;
    margin-right: 10px;
    margin-top: 6px;
}
