.task-card {
    display: flex;
    flex-direction: column;
    gap: 8px;
    
    cursor: pointer;
    background-color: white;
    margin-top: 2%;
    width: 95%;
    height: 75px;
    padding-left: 20px;
    border-radius: 6px;
    box-shadow: 3px 3px 10px #888888;
  }
  
  .task-card strong {
    padding-top: 10px;
    max-width: 245px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  .task-card small {
    max-width: 250px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }