
.inputPassword-container {
    display: flex;
    align-items: center;  
    
    height: 40px;
    width: 100%;
    padding: 0px;
    border-radius: 8px;   
    gap: 2%px;
    border: solid 2px transparent;
    
    transition: all, 0.2s;
    background-color: white;
}

.password-error {
    color: red;
    line-height: 20px;
    margin-top: 2%;
    margin-left: 3%;
}

.passwordInput {
    text-align: start;
    height: 40px;
    width: 85%;
    max-width: 350px;
    border: solid 2px transparent;
    border-radius: 8px;
    transition: all, 0.2s;
    padding: 10px;
    background-color: rgb(255, 255, 255);
}

.eye-icon {
    height: 27px; 
    border: solid 2px transparent;
    border-radius: 10px;
    margin-left: 3%;
    transition: all, 0.2s;
  }
  
.eye-icon:hover {
    background-color: rgba(240, 239, 239, 0.911);
    border: solid 2px rgb(207, 207, 207);
    cursor: pointer;
}




