
.navbar {
    position: fixed;
    top: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;

    height: 9vh;
    width: 100vw;
    color: white;
    background: linear-gradient(to right, rgb(6, 35, 116), rgb(19, 68, 158));

}

.app-name {
    font-size: 23px;
    margin-left: 50px;
}

.btn-logActions {
    height: 35px;
    width: 80px;
    border-radius: 10px;
    font-size: 15px;
    margin-right: 50px;
    border: solid 2px transparent;
    transition: all 0.2s;
    color: white;
    background-color: rgb(67, 167, 197);
}

.btn-logActions:hover {
    background-color: rgb(62, 147, 173);
    border: solid 2px rgb(71, 164, 192);
}