

.body-container {
  width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.signIn-title {
  margin-top: 5vh;
  padding-bottom: 50px; 
  font-size: 35px;
  height: 30px;
  text-align: center;
}

.signIn-inputs {
  display: flex;
  flex-direction: column;
  text-align: right;
  width: 75%;
  max-width: 300px;
}

.signIn-labels {
  margin-top: 20px;
  margin-bottom: 10px; 
  font-size: 16px;
  text-align: left;
  font-weight: bold;
}


a {
  text-decoration: none;
  color: rgb(51, 134, 160);
  font-weight: bold;
}

a:hover {
  color: rgb(42, 110, 131);
}

.userCredentials-inputs {
  display: flex;  
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.login-container {
  line-height: 10px;
  height: auto;
  width: 90%;
  max-width: 500px;
  border-radius: 20px;  
  margin-top: 16vh;
  padding-top: 1px;
  padding-bottom: 3vh;
  
  color: rgb(82, 80, 80);
  background-color: rgba(252, 252, 252, 0.781);
}

.signIn-form {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.btn_signIn {
  height: 45px;
  width: 220px;
  border-radius: 10px;
  font-size: 18px;
  margin-top: 50px;
  border: solid 2px transparent;
  transition: all 0.2s;
  background-color: rgb(67, 167, 197);
}

.container-btnSignIn {
  display: flex;  
  justify-content: center;
  text-align: center;
}

.username_input {
  text-align: start;
  height: 40px;
  width: 100%;
  padding: 10px;
  border: solid 2px transparent;
  border-radius: 5px;
  transition: all, 0.2s;
  background-color: rgb(255, 255, 255);
}

.username_input:hover {
  border: solid 2px rgb(207, 207, 207);
}

.btn_signIn:hover {
  background-color: rgb(62, 147, 173);
  border: solid 2px rgb(71, 164, 192);
}

.link-signUp {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 50px;
  gap: 10px;
}