.boards aside {
    background-color: transparent;
    width: 18vw;
    height: 60vh;
}
  
.boards aside h3 {
    font-weight: bold;
    font-size: 18px;
    margin-bottom: 8px;
    margin-left: 20px;
}
  
.boards aside section {
    text-align: center;
    border: solid 1px rgb(62, 147, 173);
    border-radius: 20px;
    height: 100%;
}
